[color]
  ui = auto

[credential]
  helper =

[init]
  dexfaultBranch = main

[user]
  name = {{ .fullName }}

[push]
  autoSetupRemote = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[includeIf "gitdir:/Users/"]
  path = ~/.gitconfig.d/macos.gitconfig

[includeIf "gitdir:/home/"]
  path = ~/.gitconfig.d/linux.gitconfig

[include]
  path = ~/.gitconfig.d/local.gitconfig

[include]
  path = ~/.gitconfig.d/work.gitconfig
