#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<Brewfile
tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "chezmoi"
brew "ffmpeg"
brew "fd"
brew "fzf"
brew "jq"
brew "mas"
brew "neovim"
brew "pandoc"
brew "ripgrep"
brew "tmux"
brew "tree"
brew "yq"
brew "yt-dlp"

cask "alacritty"
cask "anki"
cask "calibre"
cask "discord"
cask "docker"
cask "dropbox"
cask "expressvpn"
cask "font-meslo-lg-nerd-font"
cask "google-chrome"
cask "mediathekview"
cask "obsidian"
cask "openaudible"
cask "rar"
cask "raycast"
cask "signal"
cask "slack"
cask "spotify"
cask "wezterm"

# mas "Flow", id: 1423210932

Brewfile
